{% extends 'base.html.twig' %}

{% block title %}New Client{% endblock %}

{% block body %}
<h1 style="padding-bottom:2rem; padding-top:10rem; background-color: #2F3138;text-align: center; color:white;margin-top:0">Create new Client</h1>

    {{ include('client/_form.html.twig') }}

    <a href="{{ path('client_index') }}"class="btn bn-lg gradient secondary btn-block waves-effect waves-light btn-register; color:black;">back to list</a>
{% endblock %}
