{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn bn-lg gradient secondary btn-block waves-effect waves-light btn-register">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
