{% extends 'base.html.twig' %}

{% block title %}New Experience{% endblock %}

{% block body %}
<h1 style="padding-bottom:2rem; padding-top:10rem; background-color: #2F3138;text-align: center; color:white;margin-top:0">Create new Experience</h1>

    {{ include('experience/_form.html.twig') }}

    <a href="{{ path('experience_index') }}"class="btn bn-lg grey darken-1  btn-block waves-effect waves-light btn-register">back to list</a>
{% endblock %}
