{% extends 'base.html.twig' %}

{% block title %}New Candidature{% endblock %}

{% block body %}
    <h1 style="padding-bottom:2rem; padding-top:10rem; background-color: #2F3138;text-align: center; color:white;margin-top:0">Create new Candidature</h1>

    {{ include('candidature/_form.html.twig') }}

    <a href="{{ path('candidature_index') }}"back to list</a>
{% endblock %}
